@media(max-width: 480px){
    header{
        padding-left: 0;
    }
    .home{
        flex-direction: column-reverse;
         margin: 0;
    }
    .btn{
        width: 80%;
    }
     .hero-title{
        font-size: 2rem;
    }

    .hero-subtitle{
        font-size: 1rem;
    }
    .humberger-div{
        display: block;
    }
    .menu-div{
        display: none;
    }
     .menu-div ul{
        gap: 24px;
    }
    .image-div{
        
        width: 280px;
        height: 280px;
    }

    .image{
        width: 230px;
        height: 230px;
    }
    .right-div{
        margin: 20px;
    }
    .image{
        width: 240px;
        height: 240px;
    }
    .left-div{
        padding-left: 0;
        margin-left: 25px;
    }
    .first-div{
        padding-left: 10px;
        padding-top: 20px;
        padding-right: 10px;
        padding-bottom: 20px;
        margin-left: 10px;
        width: 80%;
    }
    .hero-title {
        margin-left: 10px;
        font-size: clamp(1.5rem, 2vw, 3rem); 
    }
    .btn{
        width: 70%;
    }
}


@media(max-width: 320px){
    .image-div{
        width: 280px;
        height: 280px;
    }

.image{
    width: 230px;
    height: 230px;
}
.first-div{
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        margin-left: 25px;
        width: 200px;
    }
    .hero-title {
        margin-left: 10px;
        font-size: clamp(1.5rem, 2vw, 3rem); 
    }
    .btn{
        margin-left: 10px;
        width: 70%;
    }

}
















/*body{
    text-align: center;
    background-color: rgb(53, 33, 63);
}
.myimage{
    overflow: hidden;
    padding: 100px;
}
img{
    border: 1px solid rgb(254, 254, 254);
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease;
    animation: floatImage 3s ease-in-out infinite;
}
*/
